#clock{
    position: absolute;
    left: 100px;
    top: 100px;
}
#clockpoint{
    position: absolute;
    left: 325px;
    top: 325px;
}
#hourhand{
    position: absolute;
    left:335px;
    top:170px;
    transform: rotate(0deg);
    transform-origin: center bottom;
    cursor: pointer;
}
#minutehand{
    position: absolute;
    left: 340px;
    top: 150px;
    transform: rotate(0deg);
    transform-origin: center bottom;
    cursor: pointer;
}
#secondhand{
    position: absolute;
    left:348px;
    top: 150px;
    transform: rotate(0deg);
    transform-origin: center bottom;
    cursor: pointer;
}